{% extends "customers/index.html" %}

{% block content %}


<div class="card text-center" style="margin: 3%;">
<form method = "post">
    <div class="mb-3">
        <input name = "flightNo" class="form-control" type="text" placeholder=" {{ flightNo }}" value = "{{ flightNo }}">

    </div>
    <div class="mb-3">
        Add flight to cart?
        {{ session['addtoCart'][0]}}
      
        
    </div>
    <div class="mb-3 form-check " >
        
        {{ session['addtoCart'][1]}}
        {{ session['addtoCart'][2]}}
        {{ session['addtoCart'][3]}}
        {{ session['addtoCart'][4]}}

      
    </div>
    <button type="submit" class="btn btn-outline-success">Add to cart</button>
  </form>
</div>





{% endblock %}



