{% extends "customers/index.html" %}


{% block content %}
  
 <div class="container" style="text-align: center; ">  <h1> Available flights</h1>

 <div class="card" style="display: flex; padding: 3%;"> 
      {% for f in fl %}
      <form method="post"> 
        <div class="card"> 
        <button type = "submit"  class="btn btn-outline-primary">
          <div  name =  "" class="card-header"  value="{{ f[0] }}" disabled> <h2>  Flight :   {{ f[3] }}  -  {{ f[4] }} </h2> </div>

    
          <div style=" width: 20cm; margin: 0 auto ; margin-top: 1%;"> 
          <input id="name"  name ="flightNo"  type="text"  hidden  value="{{ f[0]}}">
          
          <div class="card-body" >
            <h5 class="card-title">{{ f[3] }}  - {{ f[4] }}</h5>
            <p class="card-text">Depature: {{ f[1] }} at  {{ f[3] }}  Airport</p>
            <p class="card-text">Arrival: {{ f[2] }} at {{ f[4] }}  Airport</p>
            <small>  {{ f[0]}}</small>
            
          </div>
          </div>
        </button>
      </div>
      </form>
     
    
    {% endfor %}
  </div>



</div>   
{% endblock %}