{% extends "customers/index.html" %}


{% block content %}


<script src='https://kit.fontawesome.com/a076d05399.js'></script>

 <style>

.container{
 
  height: 15cm;
  padding: 3%;
  text-align: center;


}

 </style>


  <div class="container" style="align-items: flex;"> 
    <h1>Search flights</h1>

      
      <div class="card" >
        <div class="card-body" style="padding: 5%; text-align: center ;">
         
          <form class="form-inline my-2 my-lg-0" method="post" style="display: block" >
           
            <div style="display: flex">


              <input  id= "from" name ="from" class="form-control mr-sm-2"  placeholder="From" aria-label="Search " required style='width: 100%;'>
              <i class='fa fa-angle-double-right' style='font-size:48px;color:rgb(19, 9, 44); margin-top: 0 auto; margin-left: 3%; margin-right: 3%;'></i>
              <input  id="to" name = "to" class="form-control mr-sm-2" placeholder="To" aria-label="Search" required style='width: 100%;'>

            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div> 
</div>     
        




     
    

  </div>
{% endblock %}