{% extends "customers/index.html" %}

{% block content %}

    <style>
        body {
          background-image: url('/static/plane.jpeg');
        }
        </style>

    <div style="width: 100%; height:30cm; text-align: center; align-items: center;">
      <div class="card" style="width: 10cm; margin: 0 auto;  margin-top: 1cm;">
        <div class="card-body">
          <h5 class="card-title">Welcome back, {{ session['user']['first_name']}} </h5>
          <h6 class="card-subtitle mb-2 text-muted">This is the homepage! </h6>
          <p class="card-text">We will be glad to have you back soon at one of our flights! We wish you a pleasent journey!</p>
         
        </div>
      </div>

      
      
    </div>
      
    

{% endblock %}