<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel = "stylesheet"> 
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel = "stylesheet" >
    <script href = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script href ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <title>Bagheera</title>
   



    
  
  

  </head>
  <body>





    <div style="height: 5cm; text-align: center ; background-color: #e2e8f0" >
      <img src="/static/bagheera-removebg-preview.png" style="height:3cm">

      <h1  >Bagheera Airlines </h1>
    </div>
  


    <nav class="navbar navbar-expand-lg navbar-light bg-light" id = "all" >
      <a  class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    

      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">
        
          <li class="nav-item active" id = "home">
            <a class="nav-link" href="{{ url_for('home') }}" >Home   <i class="fa fa-home" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item active">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions  <i class="fa fa-bolt" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        
              <a class="dropdown-item" href="{{ url_for('flights_search') }}" id ="search">Search flights <i class="fa fa-plane" aria-hidden="true"></i>
              </a>
             <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('history') }}" id = "tickets"> Your tickets <i class="fa fa-ticket" aria-hidden="true"></i>
              </a>

            </a>
           
    


             <a class="dropdown-item" href="{{ url_for('blackbox_return') }}" id = "return">Return blackbox <i class="fa fa-ticket" aria-hidden="true"></i>
             </a>
             <a class="dropdown-item" href="{{ url_for('blackbox_checkout') }}" id = "checkout">Blackbox checkout<i class="fa fa-ticket" aria-hidden="true"></i>
             </a>
            
             <a class="dropdown-item" href="{{ url_for('employee_flights') }}" id = "flights">Your flights <i class="fa fa-ticket" aria-hidden="true"></i>
             </a>

            </div>
          </li>
        </ul>



        <div class="form-inline my-2 my-lg-0">
          <a   href= "{{url_for('shop') }}" class="btn btn-dark" id ="shop">Your shop <i class="fa fa-shopping-cart " aria-hidden="true"></i>
            <span class="badge bg-primary rounded-pill">{{ session['itemcount']}}</span> </a>

                      <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('user') }}">Your Profile  <i class="fa fa-user" aria-hidden="true"></i>
                      </i>
                      </a>

      
        </div>
      </div>
    </nav>
    

    <script>
    var data = "{{ session['role'] }}" ; console.log(data);
     if (data != "PASSENGER") { 
      document.getElementById("search").hidden =true;
      document.getElementById("tickets").hidden =true;
      document.getElementById("shop").hidden =true;
      document.getElementById("home").hidden =true;

      

    };

    if (data == "PASSENGER")  { 
      console.log("PASS");
      document.getElementById("return").hidden =true;
      document.getElementById("checkout").hidden =true;
      document.getElementById("flights").hidden =true;
      
    };



     </script>

    

    <div id="content"> {% block content %}{% endblock %} </div>


    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>



    
    
    
    
    
    
    
    
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>





