<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    .login {
      margin:10%;
      padding:10%;
      background-color: rgba(201, 201, 201, 0.9);
      
      
    }

  
        body {
          background-image: url('/static/bagheera.jpeg');
        }
    

    </style>



    <title>Login</title>
</head>
<body>
    <div class = "login" > 
      <h1 style="margin-bottom: 10%;"> Welcome to the login for Bagheera Airlines. Please sign in.</h1>

    <form action="{{ url_for('login') }}" method = "post">
        <!-- Email input -->
        <div class="form-outline mb-4 " style="opacity: 100%;">
          <input type="email" name = email class="form-control" />
          <label class="form-label" for="form2Example1" style="opacity: 100%">Email address</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" name = password class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
           
      
   
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
      
      </form>
      <a href="{{url_for('register')}}"  type = "button" class="btn btn-warning btn-block mb-4" style="margin-top: 3cm;"> Register</a>

      {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}

    
    <div class="alert alert-danger" role="alert" style="text-align: center;"> {{ message }} </div>
      
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} 

    </div>







</body>
</html>