{% extends "index.html" %}





{% block content %}

<div class="card text-center">
    <div class="card-header">
      Your Info 
    </div>

    {% for info in userInfo %}
    <div class="card-body">
      <h5 class="card-title">Welcome back, {{ info.name }}</h5>

  <label class="switch" > Bearbeiten
    <input id = "toggleswitch" type="checkbox" >
    <span class="slider"></span>
</label>

<script> 

    var input = document.getElementById('toggleswitch');

    input.addEventListener('change',function(){
        if(this.checked) {
            
    document.getElementById("name").disabled = false;
    document.getElementById("sex").disabled = false;
    document.getElementById("email").disabled = false;
    document.getElementById("birthdate").disabled = false;
    document.getElementById("origin").disabled = false;
    document.getElementById("sub").disabled=false;


        } else {
            
            
    document.getElementById("name").disabled = true;
    document.getElementById("sex").disabled = true;
    document.getElementById("email").disabled = true;
    document.getElementById("birthdate").disabled = true;
    document.getElementById("origin").disabled = true;
        

        }
    });

</script>















<form method="post">
<input id="name"  name ="firstname" class="card-text" type="text" disabled=" True" placeholder="{{ info.name }}" value="{{ request.form['firstname'] }}">
<input id="sex" name ="sex" class="card-text" type="text" disabled=" True" placeholder="{{ info.sex }}" value="{{ request.form['sex'] }}">
<input id="email" name = "email" class="card-text" type="text" disabled=" True" placeholder="{{ info.email }} " value="{{ request.form['email'] }}">
<input id="birthdate" name= "birthDate" class="card-text" type="text" disabled=" True" placeholder="{{ info.birthDate }}"value="{{ request.form['birthDate'] }}">
<input id="origin"  name = "origin" class="card-text" type="text" disabled=" True" placeholder="{{ info.origin }}"value="{{ request.form['origin'] }}">
<input id="svn"  name = "SVN" class="card-text" type="text" disabled=" True" placeholder="{{ info.SVN }}"value="{{ request.form['SVN'] }}">
<button type="submit" id = "sub" class="btn btn-outline-success" disabled  >Change info</button>
</form>
    
</div>
    <div class="card-footer text-muted">
      Bagira Airlines <img src="https://flagsapi.com/{{info.origin}}/shiny/64.png">
    </div>
    {% endfor %}

  </div>
{% endblock %}

<div id="contentUser">{% block contentUser %}{% endblock %}</div>